<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trotto</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="">
        <meta name="keywords" content="" />

        <link rel="canonical" href="https://trot.to/">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/_styles/main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        {% if error_message %}
        <div style="width: 100%">
            <div class="alert alert-danger error-bar text-center" style="border-radius: 0">
                {{ error_message }}
            </div>
        </div>
        {% endif %}
        <div class="container" style="margin-top: 10px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div style="width: 100%; display: flex; justify-content: space-between;">
                        <a class="unstyled-link" href="#/">
                            <div style="display: flex; align-items: center;">
                                <img src="/_images/snout.png" style="height: 1.6em;">
                                <div style="margin-left: 7px; color: black; text-decoration: none; font-size: 1.6em; opacity: 0.7;">
                                    <b>Trotto</b>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="link-form" style="padding-top:60px">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <div style="width:100%;display:flex;flex-direction:column;align-items:center">
                  <div style="display:flex;flex-wrap:wrap;align-items:center;justify-content:center">
                    {% for method in login_methods %}
                      <a style="padding:10px" aria-label="{{ method.label }}" href="{{ method.url }}?{{ redirect_to }}">
                        <img height="50" src="{{ method.image }}" />
                      </a>
                    {% endfor %}
                  </div>
                  <p style="font-size:1.4rem;padding-top:10px">
                    By signing in, you agree to Trotto's <a href="/_docs/terms" target="_blank">
                    Terms of Service</a> and <a href="/_docs/privacy" target="_blank">Privacy Policy</a>.
                  </p>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
