html, body {
   height:100%;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    background-color: #f7f7f7;
}

#app, #app > div {
    height: 100%;
}

.outer-wrapper {
    width: 80%;
    margin: 0 auto;
}

#link-form {
    font-size: 1.3em;
}

input {
    color: black;
    border-radius: 3px;
    padding: 3px 5px;
}

.btn-default {
    color: white;
    border-color: #f27e8f;
    background-color: #f27e8f;
}

.btn-special {
    color: white;
    border-color: #fdbe02;
    background-color: #fdbe02;
}

.btn-small {
    padding: 3px 6px;
    fontSize: 14px;
}

.btn-outline-success {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-electric {
  color: white;
  background-color: #ff007f;
  opacity: 0.8;
}

.btn-electric:hover {
  color: white;
  opacity: 1;
}

.btn-electric:focus, .btn-electric.focus {
  color: white;
  opacity: 1;
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.btn-electric:active, .btn-electric.active,
.show > .btn-electric.dropdown-toggle {
  color: white;
  opacity: 1;
}

.btn-disabled {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.error-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.trotto-color {
    color: #f27e8f;
}

.trotto-color-border {
    border-color: #f27e8f !important;
}

/* NAV */

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  float: right;
}

.nav-collapse li {
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
}

.nav-collapse a {
    font-size: 1.3em;
    opacity: 0.7;
    color: black;
    padding-left: 1em;
    float: right;
    text-decoration: underline;
}

.nav-collapse .alt a {
  background: #555;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    float: right;
    text-align: center;
  }

  .nav-container {
      height: 2em;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}

.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  height: 30px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url("/_images/icons/hamburger.svg") no-repeat;
  background-size: contain;
}

/* NAV END */

#tour h2 {
    font-weight: bold;
}

#tour h3 {
    color: #656565;
}

#tour p {
    color: #656565;
    font-size: 16px;
}

.unstyled-link, .unstyled-link:hover, .unstyled-link:focus {
    text-decoration: none;
}

.zero-height {
    max-height: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.Select--single > .Select-control .Select-value {
    display: flex;
    justify-content: center;
}

.Select-option {
    display: flex !important;
    justify-content: center;
}
