
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="slack-app-id" content="A7PTAKQHW">
        <meta property="og:url" content="https://trot.to" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Trotto Go Links" />
        <meta property="og:description" content="Trotto is your data, instantly and intuitively. Access, search, and share team resources as quickly as you can say them." />
        <meta property="og:image" content="https://trot.to/_images/toots_med.png" />

        <link rel="canonical" href="https://trot.to/">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <link rel="search" type="application/opensearchdescription+xml" title="Go Links" href="{{ url_for('base.opensearch') }}">

        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/nkeoojidblilnkcbbmfhaeebndapehjk">
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/_styles/react-table.css?v={{gae_version}}">
        <link rel="stylesheet" href="/_styles/responsive-nav.css?v={{gae_version}}">
        <link rel="stylesheet" href="/_styles/react-select.css?v={{gae_version}}">

        <script src="/_scripts/responsive-nav.min.js?v={{gae_version}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script nonce="{{ nonce }}">
            if (window.opener && window.opener.__handlePopupLogin) {
                window.opener.__handlePopupLogin();
                window.close();
            }
        </script>
        <script nonce="{{ nonce }}">
            window._trotto = {
                alreadyAcceptedTerms: "{{ 'true' if alreadyAcceptedTerms else 'false' }}",
                csrfToken: "{{ csrf_token }}",
                defaultNamespace: "{{ default_namespace }}",
                namespaces: {{ namespaces|safe }},
                adminLinks: {{ admin_links|safe }}
            };
        </script>
    </head>

    <body>
        <div id="app"></div>
        <script src="/_scripts/config.js"></script>
        <script src="/_scripts/bundle.js"></script>

        <img height="1" src="/_images/browser_nav.svg" style="display:none" />
        <img height="1" src="/_images/auth/google_signin_button.png" style="display:none" />
    </body>
</html>
